{% extends "base.html" %}

{% block title %} Контакты {% endblock %}

{% block content %}

<div class="wraper">
  
  <div class="contacts">
    <p>Контакты</p> 
  </div>
<div class="contact"> 
   <p>Мы с удовольствием обсудим все интересующие Вас вопросы или предложения. Связаться с нами можно следующими способами:</p>
   <p>- по телефону:</p>
   <p>Бесплатный номер для регионов: 7 (800) 555-16-70</p>
   <p>Москва: 7 (495) 646-14-25</p>
   <p> Хабаровск: 7 (4212) 46-42-10</p>
   <p>- по электронной почте info@komtender.ru</p>
</div>
</div>
{% endblock %}