{% extends "base.html" %}
{% load static %}
{% block title %} Главная страница {% endblock %}

{% block content %}
  <div class="tendetis">
    <div class="mainimg" >
        
    </div>
  	<h2>Тендер - это</h2>
  	<p>Тендер – это обобщенное понятие крупной конкурентной закупки. Тендером называют способ закупки товаров или услуг, построенный на принципе открытой конкуренции.</p>
  	<p>Обычно тендеры проводят крупные учреждения или организации, когда хотят закупить что-то на большую сумму. Компания-заказчик объявляет тендер и приглашает на участие в нем несколько участников (поставщиков или исполнителей). Тендер проводится в строго назначенное время, и в это время все его участники предлагают свои цены и условия.</p>
  	<p>Предложения участников могут быть открыты для всех, чтобы участники могли поторговаться, либо могут быть закрыты, тогда у каждого участника есть только один шанс дать лучшую цену заказчику. Способ предложения цен зависит от вида тендера. Это может быть аукцион, запрос котировок, конкурс и т.д. По итогам торгов заказчик заключает контракт с тем участником, который смог предложить наилучшие условия для него.</p>
  	<h2>Виды тендеров</h2>
  	<p>Виды тендеров по способу проведения:</p>
  	<p>1. Запросы котировок – это торги, в которых участник может подать заявку только один раз «вслепую» и выигрывает тот, кто предложил самую низкую цену для заказчика. Таким способом обычно проводят торги на сумму не более 400 тысяч рублей.</p>
  	<p>2. Аукционы – это торги, в которых участники в назначенный день и час подают свои ценовые предложения в специальной аукционной комнате на электронной торговой площадке, причем все участники в момент проведения аукциона видят предложения друг друга и могут снижать свою цену неограниченное количество раз до тех пор, пока им это выгодно. Побеждает тот, кто дал наименьшую цену для заказчика. </p>
  	<p>3. Конкурсы и запросы предложений – это виды торгов, на которых ценовое предложение подается, как правило, один раз «вслепую», но в отличие от запроса котировок цена при этом не является решающим критерием выбора победителя. В таких торгах дополнительно оценивают наличие лицензий у поставщика, качественные характеристики поставляемого товара, а также опыт исполнения подобных контрактов ранее, и на основании всех этих критериев принимают решение, с кем заключать контракт.</p>
  </div>

{% endblock %}